* {
    margin: 0;
    padding: 0;
}

p {

    font-size: 17px;
    line-height: 3em;
}

a {
    color: #102467;
    text-decoration: none;
}

img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    /*padding: 8px;*/
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.financingImg{
    width: 50% !important;
    float: right;
}

.capitalDrive{
    background: white;
    float: left;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center1{
    display: flex;
    align-items: center;
    justify-content: center;
}


.textColor {
    color: #0E1F58;
}

ul {
    color: #0E1F58;
}

.main {
    width: 100%;
    float: left;
}

.style1 {
    font-size: 22px;
}

.style2 {
    line-height: 1.875em;
    text-align: justify;
}

.decimal {
    list-style-type: upper-alpha;
}

oblique {
    font-style: oblique;
}

.font1 {
    font: normal normal normal 14px/1.79em avenir-lt-w01_35-light1475496, sans-serif
}

.header {
    width: 100%;
    float: left;
}

.linkStyle {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}

.link1 {
    display: inline-block;
    padding: 30px 15px;
    text-decoration: none;
    transition: background-color 0.2s ease-out;
}

.link1:hover, .link1.active{
    background-color:  #153184;
    color: #fff;
}

.body {
    float: left;
    width: 100%;
}

.imageDiv {
    float: left;
    width: 100%;
    height: 490px;
    background: #27242791;
    padding-top: 1px;
}


.textBody {
    width: 50%;
    margin: 0 auto;
    /*padding: 20px;*/
    background: white;
}

.bottomDiv {
    float: left;
    width: 100%;
    background: #f7f7f7;
    padding-top: 95px;
    padding-bottom: 95px;
}

.footer {
    float: left;
    width: 100%;
    background: white;
    /*padding: 2px;*/
}

.text1 {
    width: 60%;
    margin: 0 auto;
    background: white;
    padding: 65px;
    margin-bottom: 20px
}

.color1 {
    color: #FF8932;
}

.normal {
    font-weight: normal;
}

.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 72px;
    text-align: center;
}

.height1{
    height: 240px;
}

.padding1{
    padding-top: 55px !important;
}

.padding2{
    padding-top: 0 !important;
}

.top{
    margin-top: 30px;
}

.fam {
    font-family: Arial, Helvetica, sans-serif;
}

.center{
    text-align: center;
}

.style3{
    width: 100% !important;
    height: 250px;
}

h2{
    font-weight: normal;
}

.fontSize1{
    font-size: 40px !important;
}

.socialPng{
    width: 30px;
    height: 30px;
}
.fontSize2{
    font-size: 19px !important;
}

.auction {
    margin: 0 auto;
    text-align: center;
    width: 50%;
    /*padding: 2px;*/
    display: block;
    margin-top: 130px;
    margin-bottom: 130px;
}

.footer {
    float: left;
    width: 100%;
    background: white;
    /*padding: 2px;*/
}

.upperFooter {
    float: left;
    width: 100%;
    /*padding: 2px;*/
}

.downFooter {
    float: left;
    width: 100%;
    /*padding: 2px;*/
    background: #f7f7f7;
}

.copyRights {
    margin: 0 auto;
    width: 50%;
    text-align: center;
    /*padding: 2px;*/
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
}